{% include "auth/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
  body {
    background-color: #f0f0f0;
  }
  .container {
    margin-top: 50px;
  }
  .create-group-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  .create-group-card h1,
  .create-group-card h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .create-group-card p,
  .create-group-card ul,
  .create-group-card form {
    color: #555;
  }
  .create-group-card ul {
    margin-bottom: 20px;
  }
  .create-group-card form label {
    font-weight: bold;
  }
  .create-group-card button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
  }
  .create-group-card button[type="submit"]:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  .create-group-card img {
    max-width: 100%;
    max-height: 300px; 
    object-fit: cover; 
    margin-top: 20px;
    margin-left: 140px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="create-group-card">
        <h1>Tạo nhóm</h1>
        <p>Làm theo hướng dẫn dưới đây để tạo một nhóm:</p>
        <ul>
          <li>Bước 1: Nhập tên nhóm vào trường "Tên".</li>
          <li>Bước 2: Cung cấp một mô tả cho nhóm trong trường "Mô tả".</li>
          <li>Bước 3: Chọn một hình ảnh cho nhóm bằng cách tải lên một tệp trong trường "Hình ảnh".</li>
          <li>Bước 4: Nhấp vào nút "Tạo" để tạo nhóm.</li>
          <li>Bước 5: Chọn cấp độ truy cập cho nhóm.</li>
        </ul> 
        <img src="{% static "images/base/icon-group.jpg" %}" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="create-group-card">
        <h2 class="text-center">Biểu mẫu tạo nhóm</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url "create-group" %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Nhập tên nhóm">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" name="description" id="description" rows="3" placeholder="Nhập mô tả nhóm"></textarea>
          </div>
          <label for="description" class="form-label">Chọn cấp độ truy cập</label>
          <select class="form-select" name="status">
            <option value="public" selected>Công khai</option>
            <option value="private">Riêng tư</option>
          </select>
          <div class="mb-3">
            <label for="image" class="form-label">Hình ảnh</label>
            <input type="file" name="group_pic" class="form-control" id="image">
          </div>
          <button type="submit" class="btn btn-primary">Tạo</button>
        </form>
      </div>
    </div>
  </div>
</div>